portal/static/exports/nust-lms-api-wadl2009.wadl

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="http://127.0.0.1:8000/schemas" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="NUST LMS API" xml:lang="en">NUST Learning Management System API for developer integrations (Moodle AJAX wrapper).
Authenticate with your NUST LMS credentials via `POST /auth/login` to receive a bearer token, then call any operation with `Authorization: Bearer &lt;token&gt;`. The NustDevKit gateway logs into the LMS on your behalf and manages the underlying session (cookie + sesskey) server-side, so you never handle the ephemeral sesskey.
</doc>
  <grammars>
    <xs:schema xmlns:tns="http://127.0.0.1:8000/schemas" targetNamespace="http://127.0.0.1:8000/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="LoginRequest" type="schemas:LoginRequest" />
      <xs:element name="TokenResponse" type="schemas:TokenResponse" />
      <xs:element name="CourseTimelineClassification" type="schemas:CourseTimelineClassification" />
      <xs:element name="CourseTimelineSortField" type="schemas:CourseTimelineSortField" />
      <xs:element name="MoodleWarning" type="schemas:MoodleWarning" />
      <xs:element name="SiteNotification" type="schemas:SiteNotification" />
      <xs:element name="MoodleError" type="schemas:MoodleError" />
      <xs:element name="Course" type="schemas:Course" />
      <xs:element name="RecentCourseFields" type="schemas:RecentCourseFields" />
      <xs:element name="RecentCourse" type="schemas:RecentCourse" />
      <xs:element name="EnrolledCoursesResponse" type="schemas:EnrolledCoursesResponse" />
      <xs:element name="CourseContentFile" type="schemas:CourseContentFile" />
      <xs:element name="CourseModule" type="schemas:CourseModule" />
      <xs:element name="CourseSection" type="schemas:CourseSection" />
      <xs:element name="EventIcon" type="schemas:EventIcon" />
      <xs:element name="EventSubscription" type="schemas:EventSubscription" />
      <xs:element name="EventAction" type="schemas:EventAction" />
      <xs:element name="CalendarEvent" type="schemas:CalendarEvent" />
      <xs:element name="CalendarEventsResponse" type="schemas:CalendarEventsResponse" />
      <xs:element name="Notification" type="schemas:Notification" />
      <xs:element name="PopupNotificationsResponse" type="schemas:PopupNotificationsResponse" />
      <xs:element name="GetRecentCoursesRequest" type="schemas:GetRecentCoursesRequest" />
      <xs:element name="GetEnrolledCoursesByTimelineRequest" type="schemas:GetEnrolledCoursesByTimelineRequest" />
      <xs:element name="FetchNotificationsRequest" type="schemas:FetchNotificationsRequest" />
      <xs:element name="GetCalendarEventsByTimesortRequest" type="schemas:GetCalendarEventsByTimesortRequest" />
      <xs:element name="GetCalendarEventsByCourseRequest" type="schemas:GetCalendarEventsByCourseRequest" />
      <xs:element name="GetPopupNotificationsRequest" type="schemas:GetPopupNotificationsRequest" />
      <xs:element name="AuthLogin401Error1" type="schemas:AuthLogin401Error1" />
      <xs:element name="login_Request" type="schemas:login_Request" />
      <xs:element name="login200_Response0" type="schemas:login200_Response0" />
      <xs:element name="login401_Response0" type="schemas:login401_Response0" />
      <xs:element name="getCoreRecentCourses200_Response0" type="schemas:getCoreRecentCourses200_Response0" />
      <xs:element name="getCoreRecentCourses400_Response0" type="schemas:getCoreRecentCourses400_Response0" />
      <xs:element name="getEnrolledCoursesByTimeline200_Response0" type="schemas:getEnrolledCoursesByTimeline200_Response0" />
      <xs:element name="getEnrolledCoursesByTimeline400_Response0" type="schemas:getEnrolledCoursesByTimeline400_Response0" />
      <xs:element name="getCourseContents200_Response0" type="schemas:getCourseContents200_Response0" />
      <xs:element name="getCourseContents400_Response0" type="schemas:getCourseContents400_Response0" />
      <xs:element name="getCalendarEventsByTimesort200_Response0" type="schemas:getCalendarEventsByTimesort200_Response0" />
      <xs:element name="getCalendarEventsByTimesort400_Response0" type="schemas:getCalendarEventsByTimesort400_Response0" />
      <xs:element name="getCalendarEventsByCourse200_Response0" type="schemas:getCalendarEventsByCourse200_Response0" />
      <xs:element name="getCalendarEventsByCourse400_Response0" type="schemas:getCalendarEventsByCourse400_Response0" />
      <xs:element name="fetchNotifications200_Response0" type="schemas:fetchNotifications200_Response0" />
      <xs:element name="fetchNotifications400_Response0" type="schemas:fetchNotifications400_Response0" />
      <xs:element name="getPopupNotifications200_Response0" type="schemas:getPopupNotifications200_Response0" />
      <xs:element name="getPopupNotifications400_Response0" type="schemas:getPopupNotifications400_Response0" />
      <xs:complexType name="LoginRequest">
        <xs:annotation>
          <xs:documentation>NUST LMS credentials used to obtain a gateway bearer token.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="username" type="xs:string">
            <xs:annotation>
              <xs:documentation>NUST LMS username.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="password" type="xs:string">
            <xs:annotation>
              <xs:documentation>NUST LMS password.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TokenResponse">
        <xs:annotation>
          <xs:documentation>Bearer token issued by the gateway after a successful login.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="access_token" type="xs:string">
            <xs:annotation>
              <xs:documentation>JWT to send as `Authorization: Bearer &lt;token&gt;` on subsequent requests.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="bearer" name="token_type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CourseTimelineClassification">
        <xs:annotation>
          <xs:documentation>Timeline classification filter for enrolled courses.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="all" />
          <xs:enumeration value="inprogress" />
          <xs:enumeration value="past" />
          <xs:enumeration value="future" />
          <xs:enumeration value="favourites" />
          <xs:enumeration value="hidden" />
          <xs:enumeration value="allincludinghidden" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CourseTimelineSortField">
        <xs:annotation>
          <xs:documentation>Field used to sort enrolled course results.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="fullname" />
          <xs:enumeration value="shortname" />
          <xs:enumeration value="id" />
          <xs:enumeration value="idnumber" />
          <xs:enumeration value="timeaccess" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="MoodleWarning">
        <xs:annotation>
          <xs:documentation>A non-fatal warning returned alongside a successful response.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="item" type="xs:string">
            <xs:annotation>
              <xs:documentation>Item identifier related to the warning; empty string if not applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="itemid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Numeric item ID related to the warning; 0 if not applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="warningcode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Machine-readable warning code; empty string if no code.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable warning description.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SiteNotification">
        <xs:annotation>
          <xs:documentation>A site-level notification (structure varies by type).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unique identifier for the site notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Notification message content.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="type" type="xs:string">
            <xs:annotation>
              <xs:documentation>Notification type identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MoodleError">
        <xs:annotation>
          <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Machine-readable error code identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable error description.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="link" type="xs:string">
            <xs:annotation>
              <xs:documentation>Redirect URL for the user; empty string if not applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="moreinfourl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to additional error documentation; empty string if not available.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="debuginfo" type="xs:string">
            <xs:annotation>
              <xs:documentation>Additional debug information; empty string when not in debug mode.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Course">
        <xs:annotation>
          <xs:documentation>An enrolled course.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unique course identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullname" type="xs:string">
            <xs:annotation>
              <xs:documentation>Full display name of the course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="shortname" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short course code or abbreviated name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="idnumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Institution-assigned course ID number; empty string if not set.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="summary" type="xs:string">
            <xs:annotation>
              <xs:documentation>HTML summary of the course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="summaryformat" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Format of the summary field (1 = HTML).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="startdate" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Course start date as Unix timestamp.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="enddate" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Course end date as Unix timestamp. 0 means no end date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="visible" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the course is visible to enrolled students.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullnamedisplay" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display name of the course (may differ from fullname for context).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="viewurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to the course page on the LMS portal.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="progress">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Student's completion progress as a percentage.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:maxInclusive value="100" />
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="hasprogress" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether completion tracking is enabled for this course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="isfavourite" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the user has marked this course as a favourite.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="hidden" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the user has hidden this course from their dashboard.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="showshortname" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the short name is displayed alongside the full name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="coursecategory" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the category this course belongs to.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecentCourseFields">
        <xs:annotation>
          <xs:documentation>Additional fields specific to recently accessed courses.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="timeaccess" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unix timestamp of the user's most recent access to this course.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RecentCourse">
        <xs:annotation>
          <xs:documentation>A recently accessed course, extending Course with the last-access timestamp.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unique course identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullname" type="xs:string">
            <xs:annotation>
              <xs:documentation>Full display name of the course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="shortname" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short course code or abbreviated name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="idnumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Institution-assigned course ID number; empty string if not set.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="summary" type="xs:string">
            <xs:annotation>
              <xs:documentation>HTML summary of the course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="summaryformat" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Format of the summary field (1 = HTML).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="startdate" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Course start date as Unix timestamp.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="enddate" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Course end date as Unix timestamp. 0 means no end date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="visible" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the course is visible to enrolled students.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullnamedisplay" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display name of the course (may differ from fullname for context).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="viewurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to the course page on the LMS portal.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="progress">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Student's completion progress as a percentage.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:integer">
                <xs:maxInclusive value="100" />
                <xs:minInclusive value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="hasprogress" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether completion tracking is enabled for this course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="isfavourite" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the user has marked this course as a favourite.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="hidden" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the user has hidden this course from their dashboard.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="showshortname" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the short name is displayed alongside the full name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="coursecategory" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the category this course belongs to.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timeaccess" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unix timestamp of the user's most recent access to this course.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EnrolledCoursesResponse">
        <xs:annotation>
          <xs:documentation>Paginated enrolled-courses response.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="courses" type="schemas:Course">
            <xs:annotation>
              <xs:documentation>List of enrolled courses for the current page.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="nextoffset" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Offset to pass on the next page request; -1 when no further pages exist.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CourseContentFile">
        <xs:annotation>
          <xs:documentation>A single file (or link) uploaded inside a course module.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="type" type="xs:string">
            <xs:annotation>
              <xs:documentation>Content type, e.g. 'file' or 'url'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="filename" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the file (or title of the link).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>Folder path within the module; "/" for the module root.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="filesize" type="xs:integer">
            <xs:annotation>
              <xs:documentation>File size in bytes (0 for links).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fileurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>Moodle pluginfile.php URL for the content. Downloading the bytes requires authentication (a webservice token or the active session); the URL alone is not publicly fetchable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="mimetype" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>MIME type of the file when applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="timemodified" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unix timestamp of the last modification.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CourseModule">
        <xs:annotation>
          <xs:documentation>An item on the course page — an activity or resource (file, page, URL, assignment, ...).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Course module ID (cmid).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display name of the module.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="modname" type="xs:string">
            <xs:annotation>
              <xs:documentation>Module type, e.g. 'resource' (file), 'folder', 'url', 'page', 'label', 'assign', 'quiz', 'forum'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="modplural" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable plural label for the module type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="instance" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Instance ID of the activity within its module type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>HTML description/intro for the module, when present.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="visible" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Whether the module is visible (1) or hidden (0).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="uservisible" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the module is visible to the current user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="url" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>Link to open the activity/resource, when applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="modicon" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL of the module's type icon.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="contents" type="schemas:CourseContentFile">
            <xs:annotation>
              <xs:documentation>Uploaded files/links for this module (present for resource/folder modules).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CourseSection">
        <xs:annotation>
          <xs:documentation>A section (week/topic) of the course, containing its modules.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Section ID.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Section title (e.g. a week or topic name).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="section" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Zero-based section number within the course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="visible" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Whether the section is visible (1) or hidden (0).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>HTML summary shown at the top of the section.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="summaryformat" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Moodle text format of the summary (1 = HTML).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="uservisible" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the section is visible to the current user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="modules" type="schemas:CourseModule">
            <xs:annotation>
              <xs:documentation>The activities and resources in this section.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventIcon">
        <xs:annotation>
          <xs:documentation>Icon metadata for a calendar event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>Icon key name used to locate the icon asset.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="component" type="xs:string">
            <xs:annotation>
              <xs:documentation>Moodle component that owns the icon (e.g., 'assign').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="alttext" type="xs:string">
            <xs:annotation>
              <xs:documentation>Accessible alt text for the icon image.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventSubscription">
        <xs:annotation>
          <xs:documentation>Subscription display settings for a calendar event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="displayeventsource" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether to display the event source label on the calendar.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventAction">
        <xs:annotation>
          <xs:documentation>Primary action button metadata for a calendar event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display label for the primary action button.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="url" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL the user should navigate to in order to perform the action.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="itemcount" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Number of items associated with this action.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="actionable" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the action can currently be taken by the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="showitemcount" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether to display the item count alongside the action label.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CalendarEvent">
        <xs:annotation>
          <xs:documentation>A calendar action event. On NUST LMS these represent deadlines — the due date for an assignment, lab, quiz, or other submission tied to a course activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unique calendar event identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Display name of the calendar event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="description" type="xs:string">
            <xs:annotation>
              <xs:documentation>HTML description body of the event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="descriptionformat" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Text format of the description (1 = HTML).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="location" type="xs:string">
            <xs:annotation>
              <xs:documentation>Physical or virtual location of the event; empty string if not specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="categoryid" nillable="true" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Course category ID; null if not a category event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Group ID if the event is group-specific; null otherwise.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="userid" nillable="true" type="xs:integer">
            <xs:annotation>
              <xs:documentation>User ID if the event is user-specific; null otherwise.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="repeatid" nillable="true" type="xs:integer">
            <xs:annotation>
              <xs:documentation>ID of the repeat group for recurring events; null if not recurring.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="eventcount" nillable="true" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Total number of events in the repeat group; null if not applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="component" type="xs:string">
            <xs:annotation>
              <xs:documentation>Moodle component that created the event (e.g., 'mod_assign').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="modulename" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short name of the Moodle activity module (e.g., 'assign').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="instance" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The course module instance ID.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="eventtype" type="xs:string">
            <xs:annotation>
              <xs:documentation>Type of the event (e.g., 'due', 'open', 'close').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timestart" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Event start time as Unix timestamp.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timeduration" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Duration in seconds; 0 for point-in-time events.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timesort" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Sort timestamp used for ordering events.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="visible" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Visibility flag for a calendar event. 1 means the event is visible; 0 means it is hidden.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timemodified" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Last modification time as Unix timestamp.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="icon" type="schemas:EventIcon">
            <xs:annotation>
              <xs:documentation>Icon metadata for a calendar event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="course" type="schemas:Course">
            <xs:annotation>
              <xs:documentation>An enrolled course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="subscription" type="schemas:EventSubscription">
            <xs:annotation>
              <xs:documentation>Subscription display settings for a calendar event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="canedit" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the current user can edit this event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="candelete" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the current user can delete this event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="deleteurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to delete this calendar event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="editurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to edit the underlying course module associated with this event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="viewurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to view this event on the calendar.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="formattedtime" type="xs:string">
            <xs:annotation>
              <xs:documentation>HTML-formatted human-readable event time string.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="isactionevent" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether this is an action event requiring user interaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="iscourseevent" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether this event is associated with a specific course.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="iscategoryevent" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether this event is associated with a course category.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the group for group-specific events; null otherwise.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="normalisedeventtype" type="xs:string">
            <xs:annotation>
              <xs:documentation>Normalised event type identifier used for display grouping.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="normalisedeventtypetext" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable label for the normalised event type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="action" type="schemas:EventAction">
            <xs:annotation>
              <xs:documentation>Primary action button metadata for a calendar event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="url" type="xs:string">
            <xs:annotation>
              <xs:documentation>Direct URL to the course activity associated with this event.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CalendarEventsResponse">
        <xs:annotation>
          <xs:documentation>A list of calendar events with pagination boundary IDs.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="events" type="schemas:CalendarEvent">
            <xs:annotation>
              <xs:documentation>List of calendar action events for the current result set.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="firstid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Event ID of the first item in the result set.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="lastid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Event ID of the last item in the result set.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>A popup notification message delivered to a user.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unique notification identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="useridfrom" type="xs:integer">
            <xs:annotation>
              <xs:documentation>User ID of the sender.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="useridto" type="xs:integer">
            <xs:annotation>
              <xs:documentation>User ID of the recipient.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="subject" type="xs:string">
            <xs:annotation>
              <xs:documentation>Subject line of the notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="shortenedsubject" type="xs:string">
            <xs:annotation>
              <xs:documentation>Shortened version of the notification subject for compact display.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="text" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short HTML excerpt of the notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullmessage" type="xs:string">
            <xs:annotation>
              <xs:documentation>Full plain-text body of the notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullmessageformat" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Format identifier for fullmessagehtml (2 = Markdown source).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="fullmessagehtml" type="xs:string">
            <xs:annotation>
              <xs:documentation>Full HTML body of the notification email.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="smallmessage" type="xs:string">
            <xs:annotation>
              <xs:documentation>Short plain-text preview of the notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="contexturl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to the relevant context for this notification (e.g., a forum post).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="contexturlname" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable label for the context URL link.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timecreated" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unix timestamp when the notification was created.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timecreatedpretty" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable relative time string (e.g., '19 days ago').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="timeread" nillable="true" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Unix timestamp when the notification was read; null if unread.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="read" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the notification has been read by the recipient.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="deleted" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Whether the notification has been deleted by the recipient.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="iconurl" type="xs:string">
            <xs:annotation>
              <xs:documentation>URL to the icon image representing the notification source.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="component" type="xs:string">
            <xs:annotation>
              <xs:documentation>Moodle component that generated the notification (e.g., 'mod_forum').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="eventtype" type="xs:string">
            <xs:annotation>
              <xs:documentation>Event type within the component that triggered the notification (e.g., 'posts').</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="customdata" type="xs:string">
            <xs:annotation>
              <xs:documentation>JSON-encoded string with additional notification metadata (cmid, instance, discussionid, postid, etc.).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PopupNotificationsResponse">
        <xs:annotation>
          <xs:documentation>Response envelope for the popup-notifications endpoint.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="notifications" type="schemas:Notification">
            <xs:annotation>
              <xs:documentation>List of popup notifications for the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="unreadcount" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Total number of unread notifications for the user.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetRecentCoursesRequest">
        <xs:annotation>
          <xs:documentation>Request parameters for retrieving recently accessed courses.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="10" name="limit" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Maximum number of courses to return.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetEnrolledCoursesByTimelineRequest">
        <xs:annotation>
          <xs:documentation>Request parameters for retrieving enrolled courses filtered by timeline classification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" default="0" name="offset" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Zero-based pagination offset.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="50" name="limit" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Maximum number of courses to return.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="classification" type="schemas:CourseTimelineClassification">
            <xs:annotation>
              <xs:documentation>Timeline classification filter for enrolled courses.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="sort" type="schemas:CourseTimelineSortField">
            <xs:annotation>
              <xs:documentation>Field used to sort enrolled course results.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FetchNotificationsRequest">
        <xs:annotation>
          <xs:documentation>Request parameters for fetching site-level notifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="contextid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Moodle context ID for which to fetch notifications. The user context ID can be found in the user profile image URL path segment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCalendarEventsByTimesortRequest">
        <xs:annotation>
          <xs:documentation>Request parameters for retrieving calendar action events sorted by time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="limitnum" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Maximum number of events to return.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="timesortfrom" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Only return events with timesort &gt;= this Unix timestamp. Pass 0 for no lower bound.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="timesortto" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Only return events with timesort &lt;= this Unix timestamp. Optional.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="aftereventid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Return events whose ID is greater than this value (cursor pagination). Optional.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCalendarEventsByCourseRequest">
        <xs:annotation>
          <xs:documentation>Request parameters for retrieving calendar action events for a specific course.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="courseid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>ID of the course to fetch events for.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="timesortfrom" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Only return events with timesort &gt;= this Unix timestamp. Optional.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="timesortto" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Only return events with timesort &lt;= this Unix timestamp. Optional.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="aftereventid" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Cursor-based pagination — return events after this event ID. Optional.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="limitnum" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Maximum number of events to return. Optional.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPopupNotificationsRequest">
        <xs:annotation>
          <xs:documentation>Request parameters for retrieving popup notifications for a user.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="useridto" type="xs:string">
            <xs:annotation>
              <xs:documentation>ID of the recipient user, passed as a string.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="limit" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Maximum number of notifications to return.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="0" name="offset" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Pagination offset.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AuthLogin401Error1">
        <xs:sequence>
          <xs:element minOccurs="0" name="detail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="login_Request">
        <xs:sequence>
          <xs:element minOccurs="1" name="body" type="schemas:LoginRequest">
            <xs:annotation>
              <xs:documentation>NUST LMS credentials.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="login200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:TokenResponse">
            <xs:annotation>
              <xs:documentation>Bearer token issued by the gateway after a successful login.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="login401_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response401" type="schemas:AuthLogin401Error1">
            <xs:annotation>
              <xs:documentation>Invalid LMS credentials.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCoreRecentCourses200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:RecentCourse">
            <xs:annotation>
              <xs:documentation>Recently accessed courses ordered by last access time.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCoreRecentCourses400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEnrolledCoursesByTimeline200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:EnrolledCoursesResponse">
            <xs:annotation>
              <xs:documentation>Paginated enrolled-courses response.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEnrolledCoursesByTimeline400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCourseContents200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:CourseSection">
            <xs:annotation>
              <xs:documentation>The course's sections, in display order.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCourseContents400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCalendarEventsByTimesort200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:CalendarEventsResponse">
            <xs:annotation>
              <xs:documentation>A list of calendar events with pagination boundary IDs.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCalendarEventsByTimesort400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCalendarEventsByCourse200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:CalendarEventsResponse">
            <xs:annotation>
              <xs:documentation>A list of calendar events with pagination boundary IDs.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCalendarEventsByCourse400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fetchNotifications200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:SiteNotification">
            <xs:annotation>
              <xs:documentation>Site-level notifications for the given context; empty array when none are pending.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fetchNotifications400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPopupNotifications200_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:PopupNotificationsResponse">
            <xs:annotation>
              <xs:documentation>Response envelope for the popup-notifications endpoint.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPopupNotifications400_Response0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400" type="schemas:MoodleError">
            <xs:annotation>
              <xs:documentation>Error returned by the LMS on a failed operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </grammars>
  <resources base="http://127.0.0.1:8000">
    <resource id="_authlogin" path="/auth/login">
      <method id="login" name="POST">
        <doc title="login" xml:lang="en">Authenticates against NUST LMS on your behalf and returns a gateway JWT. The LMS session (cookie + sesskey) is created and held server-side; use the returned token as `Authorization: Bearer &lt;token&gt;` for every other operation.
</doc>
        <request>
          <param name="Content-Type" style="header" type="xsd:string" default="application/json" required="true" fixed="application/json">
            <doc title="Content-Type" xml:lang="en" />
          </param>
          <representation element="schemas:login_Request" mediaType="application/json" />
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Authentication succeeded; bearer token issued.</doc>
          <representation element="schemas:login200_Response0" mediaType="application/json" />
        </response>
        <response status="401">
          <doc title="401" xml:lang="en">Invalid LMS credentials.</doc>
          <representation element="schemas:login401_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicecore_course_get_recent_courses" path="/service/core_course_get_recent_courses">
      <method id="getCoreRecentCourses" name="GET">
        <doc title="getCoreRecentCourses" xml:lang="en">Returns the courses the authenticated user has accessed most recently, ordered by last access time.
Moodle method: `core_course_get_recent_courses`
</doc>
        <request>
          <param name="limit" style="query" type="xsd:integer" default="10" required="true">
            <doc title="limit" xml:lang="en">Maximum number of courses to return.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">List of recently accessed courses ordered by last access.</doc>
          <representation element="schemas:getCoreRecentCourses200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:getCoreRecentCourses400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicecore_course_get_enrolled_courses_by_timeline_classification" path="/service/core_course_get_enrolled_courses_by_timeline_classification">
      <method id="getEnrolledCoursesByTimeline" name="GET">
        <doc title="getEnrolledCoursesByTimeline" xml:lang="en">Returns all courses the user is enrolled in, filtered by timeline classification and sorted by a chosen field. Supports pagination via offset.
Moodle method: `core_course_get_enrolled_courses_by_timeline_classification`
</doc>
        <request>
          <param name="offset" style="query" type="xsd:integer" default="0" required="true">
            <doc title="offset" xml:lang="en">Zero-based pagination offset.</doc>
          </param>
          <param name="limit" style="query" type="xsd:integer" default="50" required="true">
            <doc title="limit" xml:lang="en">Maximum number of courses to return.</doc>
          </param>
          <param name="classification" style="query" required="true">
            <doc title="classification" xml:lang="en">Timeline classification filter for enrolled courses.</doc>
            <option value="all">
              <doc title="all" xml:lang="en" />
            </option>
            <option value="inprogress">
              <doc title="inprogress" xml:lang="en" />
            </option>
            <option value="past">
              <doc title="past" xml:lang="en" />
            </option>
            <option value="future">
              <doc title="future" xml:lang="en" />
            </option>
            <option value="favourites">
              <doc title="favourites" xml:lang="en" />
            </option>
            <option value="hidden">
              <doc title="hidden" xml:lang="en" />
            </option>
            <option value="allincludinghidden">
              <doc title="allincludinghidden" xml:lang="en" />
            </option>
          </param>
          <param name="sort" style="query" required="true">
            <doc title="sort" xml:lang="en">Field used to sort enrolled course results.</doc>
            <option value="fullname">
              <doc title="fullname" xml:lang="en" />
            </option>
            <option value="shortname">
              <doc title="shortname" xml:lang="en" />
            </option>
            <option value="id">
              <doc title="id" xml:lang="en" />
            </option>
            <option value="idnumber">
              <doc title="idnumber" xml:lang="en" />
            </option>
            <option value="timeaccess">
              <doc title="timeaccess" xml:lang="en" />
            </option>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Paginated list of enrolled courses.</doc>
          <representation element="schemas:getEnrolledCoursesByTimeline200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:getEnrolledCoursesByTimeline400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicecore_course_get_contents" path="/service/core_course_get_contents">
      <method id="getCourseContents" name="GET">
        <doc title="getCourseContents" xml:lang="en">Returns the full content structure of a course — its sections (weeks/topics) and the modules within them (files, folders, pages, URLs, assignments, and other activities), including metadata for each uploaded file. This is the data the course page itself is built from.
Note: file URLs point at Moodle's `pluginfile.php` and require authentication (a webservice token or the active session) to download — the URL alone is not publicly fetchable.
Moodle method: `core_course_get_contents`
</doc>
        <request>
          <param name="courseid" style="query" type="xsd:integer" required="true">
            <doc title="courseid" xml:lang="en">ID of the course whose contents to retrieve.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Course sections, each with its modules and their uploaded files.</doc>
          <representation element="schemas:getCourseContents200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:getCourseContents400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicecore_calendar_get_action_events_by_timesort" path="/service/core_calendar_get_action_events_by_timesort">
      <method id="getCalendarEventsByTimesort" name="GET">
        <doc title="getCalendarEventsByTimesort" xml:lang="en">Returns action events (deadlines) across all enrolled courses, ordered by their sort timestamp. On NUST LMS these are submission due dates for assignments, labs, quizzes, and similar dated activities. Use `timesortfrom` to filter to upcoming deadlines only.
Moodle method: `core_calendar_get_action_events_by_timesort`
</doc>
        <request>
          <param name="limitnum" style="query" type="xsd:integer" required="true">
            <doc title="limitnum" xml:lang="en">Maximum number of events to return (e.g. 20 for one page of results).</doc>
          </param>
          <param name="timesortfrom" style="query" type="xsd:integer" required="true">
            <doc title="timesortfrom" xml:lang="en">Unix timestamp (seconds since epoch). Only events with a sort time at or after this value are returned. Pass `0` for no lower bound (all upcoming and past events). To see only upcoming deadlines, pass the current epoch time (e.g. the output of `Date.now() / 1000 | 0` in JS or `int(time.time())` in Python).</doc>
          </param>
          <param name="timesortto" style="query" type="xsd:integer">
            <doc title="timesortto" xml:lang="en">Only return events with timesort &lt;= this Unix timestamp.</doc>
          </param>
          <param name="aftereventid" style="query" type="xsd:integer">
            <doc title="aftereventid" xml:lang="en">Return events whose ID is greater than this value (cursor pagination).</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Calendar events sorted by timesort.</doc>
          <representation element="schemas:getCalendarEventsByTimesort200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:getCalendarEventsByTimesort400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicecore_calendar_get_action_events_by_course" path="/service/core_calendar_get_action_events_by_course">
      <method id="getCalendarEventsByCourse" name="GET">
        <doc title="getCalendarEventsByCourse" xml:lang="en">Returns all action events (deadlines) for a single course — assignment, lab, and quiz submission due dates, and other dated activities.
Moodle method: `core_calendar_get_action_events_by_course`
</doc>
        <request>
          <param name="courseid" style="query" type="xsd:integer" required="true">
            <doc title="courseid" xml:lang="en">ID of the course to fetch events for.</doc>
          </param>
          <param name="timesortfrom" style="query" type="xsd:integer">
            <doc title="timesortfrom" xml:lang="en">Only return events with timesort &gt;= this Unix timestamp.</doc>
          </param>
          <param name="timesortto" style="query" type="xsd:integer">
            <doc title="timesortto" xml:lang="en">Only return events with timesort &lt;= this Unix timestamp.</doc>
          </param>
          <param name="aftereventid" style="query" type="xsd:integer">
            <doc title="aftereventid" xml:lang="en">Cursor-based pagination — return events after this event ID.</doc>
          </param>
          <param name="limitnum" style="query" type="xsd:integer">
            <doc title="limitnum" xml:lang="en">Maximum number of events to return.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Calendar events for the specified course.</doc>
          <representation element="schemas:getCalendarEventsByCourse200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:getCalendarEventsByCourse400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicecore_fetch_notifications" path="/service/core_fetch_notifications">
      <method id="fetchNotifications" name="GET">
        <doc title="fetchNotifications" xml:lang="en">Returns pending site-level notifications for the given Moodle context. Returns an empty array when there are no pending notifications.
Moodle method: `core_fetch_notifications`
</doc>
        <request>
          <param name="contextid" style="query" type="xsd:integer" required="true">
            <doc title="contextid" xml:lang="en">Moodle context ID for which to fetch notifications. The user context ID can be found in the user profile image URL path segment.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Array of site notifications (empty array when none are pending).</doc>
          <representation element="schemas:fetchNotifications200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:fetchNotifications400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
    <resource id="_servicemessage_popup_get_popup_notifications" path="/service/message_popup_get_popup_notifications">
      <method id="getPopupNotifications" name="GET">
        <doc title="getPopupNotifications" xml:lang="en">Returns the most recent popup notifications sent to a user, with support for pagination. Also returns the total count of unread notifications.
Moodle method: `message_popup_get_popup_notifications`
</doc>
        <request>
          <param name="useridto" style="query" type="xsd:string" required="true">
            <doc title="useridto" xml:lang="en">ID of the recipient user, passed as a string.</doc>
          </param>
          <param name="limit" style="query" type="xsd:integer" required="true">
            <doc title="limit" xml:lang="en">Maximum number of notifications to return.</doc>
          </param>
          <param name="offset" style="query" type="xsd:integer" default="0" required="true">
            <doc title="offset" xml:lang="en">Pagination offset.</doc>
          </param>
        </request>
        <response status="200">
          <doc title="200" xml:lang="en">Popup notifications and total unread count.</doc>
          <representation element="schemas:getPopupNotifications200_Response0" mediaType="application/json" />
        </response>
        <response status="400">
          <doc title="400" xml:lang="en">Bad request or Moodle exception.</doc>
          <representation element="schemas:getPopupNotifications400_Response0" mediaType="application/json" />
        </response>
      </method>
    </resource>
  </resources>
</application>